// # .mod-btn
// 
//```
//a.mod-btn ボタン
//a.mod-btn(class=':hover') ボタン
//a.mod-btn(class=':active') ボタン
//a.mod-btn(class=':focus') ボタン
//```
.mod-btn {
	display: inline-block;
	margin: 2px;
	padding: 10px;
	border-radius: 3px;
	background: tomato;
	&:hover {
		background: lime;
	}
	&:active {
		box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
	}
	&:focus {
		box-shadow: 0 0 5px rgba(0, 0, 150, .5);
	}
}


// # .mod-entrySeriesList
// 
//```
//.mod-entrySeriesList
//	.mod-entrySeriesList-body
//		.mod-entrySeriesGroup My name
//		.mod-entrySeriesGroup is
//		.mod-entrySeriesGroup Geckotang
//```
.mod-entrySeriesList {
	width: 100%;
}
.mod-entrySeriesList-body {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.mod-entrySeriesGroup {
	display: table-cell;
	&:nth-child(1) {
		background: tomato;
	}
	&:nth-child(2) {
		background: lime;
	}
	&:nth-child(3) {
		background: olive;
	}
}

